<%- include("./partials/header") %>

<div class="container mt-4">
  <h2>Quên mật khẩu</h2>
  <form method="POST" action="/auth/forgot">
    <div class="mb-3">
      <label class="form-label">Nhập email</label>
      <input type="email" name="email" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-warning">Lấy lại mật khẩu</button>
    <a href="/auth/login" class="btn btn-secondary">Quay lại</a>
  </form>
</div>

<%- include("./partials/footer") %>

